/**
 * Acquired at
 * @see https://console.developers.google.com/apis/credentials?project=_
 * via creating a new OAuth 2.0 client ID
 */
{
  "web": {
    "client_id": "",
    "project_id": "",
    "auth_uri": "",
    "token_uri": "",
    "redirect_uris": [
      ""
    ],
    "auth_provider_x509_cert_url": "",
    "client_secret": ""
  }
}
